*{
    padding: 0;
    margin: 0;
}


h1
{
	text-align:center;
	color: black;
	font-size: 2rem;
}
h2
{
	
}
section 
{
	
	height: 50vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
    
    
}
#Intro
{
	background-color:  white;
	
	height: 40vh;
}
#AboutSection
{
	
	background-size:cover;
	
	
}
#hobby
{
	background-color: cream;
}
#Skills
{
	background-color: rgb(255, 255, 128);
	
}
#Projects
{
	background-color: blue;
}	
#Profiles
{
	background-color: blue;
	background-color:#002628;
}

.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	height: 50%;
}
