*{
    padding: 0;
    margin: 0;
}


h1
{
	text-align:center;
	color: black;
	font-size: 10 em;
}
h2
{
	font-size: 4em;
}
h3
{
	font-size: 3em;
}
p
{
	font-size: 2em;
}
section 
{
	
	
    
}
#Intro
{
	background-color:  white;
	
	
}
#AboutSection
{
	
	
	
	
}
body
{
	background-color: rgb(255, 255, 128);
}
#hobby
{
	
	
}
#Skills
{
	
	
	
}
#Projects
{
	
}	
#Profiles
{
	
	
}

.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
	height: 30%;
}
